---
layout: base
excerpt: "We're building a network of streets in Clintonville where people biking and walking are given priority."
cover_image: neighborhood-greenway.jpg
---
<div class="home page-cover" style="background-image:url(/images/{{ page.cover_image }});"></div>

<article class='home'>
  <div class="container">
    <section>

      <header>
        <h1 class="title">Clintonville Neighborhood Greenways</h1>
        <h2 class="subtitle">
          We're building a network of streets in Clintonville where people biking and walking are given priority.
        </h2>
      </header>
  
      <div class='three-wide'>
        <div class='cell'>
          <img src='/images/community_project@2x.png'>
          <h3>It's in My<br>Neighborhood</h3>
          Clintonville Neighborhood Greenways is a grassroots project initiated by residents of Clintonville for the
          residents of Clintonville.
        </div>
        <div class='cell'>
          <img src='/images/connected_neighborhood@2x.png'>
          <h3>It Connects Me to<br>Where I Want to Go</h3>
          Clintonville Neighborhood Greenways connect to restaurants, shopping, schools, Whetstone Park,
          the library, and much more.
        </div>
        <div class='cell'>
          <img src='/images/duck_sign_2@2x.png'>
          <h3>It's Safe for Me<br>and My Family</h3>
          Neighborhood Greenways make streets slower and quieter, improving safety for everyone and making our
          neighborhood more livable.
        </div>
      </div>

      <div class='map_container full'>
        <a class="overlay" href='https://mapsengine.google.com/maps/d/viewer?mid=zEAPhiHiDgA8.kS4PuSyYyc2I' target='_blank'></a>
        <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zEAPhiHiDgA8.kS4PuSyYyc2I&z=14"></iframe>
      </div>

      <p>
        Proposed Phase 1 Route is <span style='color:#CA2C28'>Red</span>. Future routes are Blue.
      </p>

      <h2>A network of streets for people</h2>

      <p>
        Clintonville Neighborhood Greenways are a network of streets where people biking and walking are given
        priority. These slower, quieter streets create safe routes to bike and walk around Clintonville without
        using High Street or Indianola. This encourages more people to bike and walk to work, to shop, to
        socialize, and to just have fun.
      </p>

      <p>
        Neighborhood Greenways are designed to feel safe for people of all ages and abilities. They appeal
        to a large cross-section of people, sometimes referred to as the “bike curious”, who would bike and
        walk more if they felt safe on the roads.
      </p>

      <p>
        
      </p>

      <h2>Greenways benefit the whole neighborhood</h2>

      <ul>
        <li>
          <b>By creating a quieter, more pleasant street environment</b> that improves safety for everyone.
        </li>
        <li>
          <b>By building a stronger sense of community and neighborhood identity.</b> With more people biking
          and walking, there are more opportunities for social encounters where neighbors and friends can meet
          and interact. These impromptu meetings make the neighborhood friendlier, safer and more pleasant
          for everyone.
        </li>
        <li>
          <b>By encouraging increased patronage of local businesses.</b> People biking and walking visit local
          businesses more frequently and spend more money over time than people driving.
        </li>
        <li>
          <b>By raising property values.</b> Studies show that greenways and bike trails increase home values.
          The National Association of Homebuilders and the National Association of Realtors report that greenways
          are one of the top amenities homebuyers want.
        </li>
        <li>
          <b>By creating more "eyes on the street".</b> More people and a slower street environment result in
          more awareness of neighborhood activities.
        </li>
      </ul>

      <h2>Greenways are a proven solution</h2>

      <p>
        Neighborhood Greenways are a proven solution to improve safety and mobility for people biking and walking.
        Cities with neighborhood greenways include Rochester NY, Minneapolis MN, Madison WI, Columbia MO,
        Wilmington NC, Gainesville FL, Tulsa OK, Tucson AZ, Albuquerque NM, Seattle WA, Berkeley CA, and Portland OR.
      </p>
      
      <h2>Want to learn more?</h2>
      
      <ul>
        <li>
          Read about us in <a href='http://www.dispatch.com/content/stories/local/2015/08/24/bike-n-hike-safety.html'>The Columbus Dispatch</a> and
          <a href='http://www.columbusunderground.com/clintonville-greenways-idea-moving-forward-bw1'>Columbus Underground</a>
        </li>
        <li>See the <a href='/2015/05/08/phase-1-route-and-design.html'>Phase 1 Route and Design</a>.</li>
        <li>Read our <a href='/faq.html'>Frequently Asked Questions</a>.</li>
        <li>Get the latest news on our <a href='/updates.html'>Updates</a> page.</li>
        <li>Watch a <a href='https://vimeo.com/16552771' target='_blank'>Video</a> of neighborhood greenways in Portland.</li>
      </ul>

      <h2>Sign up for our mailing list</h2>
      
      <p>
        We'll send you periodic updates, no more than twice a month.
      </p>
  
      {% include mail_chimp_signup.html %}

      <a id='about'></a>
      <h2>About us</h2>
      
      <p>
        Clintonville Neighborhood Greenways was started by 5 residents of Clintonville: Will Koehler, Alex Smith,
        Emily Monnig, Mike Anderson, and Brian Laliberte. We are inspired by a shared vision of a community
        bustling with people; a neighborhood where streets are shared safely by everyone, walking, biking,
        and driving.
      </p>

      <p>
        If you have questions, or want to get involved, please contact us:
        <a href='mailto:hello@clintonvillegreenways.org?subject=Question about Clintonville Neighborhood Greenways'>hello@clintonvillegreenways.org</a>
      </p>

      <div class='signoff'>
        <img src='/images/mom-daughter-dog-dutch-bike.jpg'>
        <div class='caption'>We're ready to ride the greenway</div>
      </div>

      {% include social_sharing.html %}

    </section>
  </div>
</article>
