---
layout: base
---
<div class="page-cover" style="background-image:url(/images/whetstone-park-of-roses-bike-shelter.jpg);background-position:50% 35%;"></div>
<div class='cover-caption'><a href='/about.html#pictures'>Bike Shelter in Whetstone Park. Photo: Will Koehler</a></div>

<article class="updates">
  <div class="container">
    <section>
      <header>
        <h1 class="title">Updates</h1>
        <h2 class="subtitle">Latest news on the Clintonville Neighborhood Greenways</h2>
        </h2>
      </header>
      <hr>
    </section>
    {% for post in site.posts %}
    <section class="post_summary">
      <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
      <div class="meta">
        <address>{{ post.author.name }}</address> &mdash;
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%b %d, %Y" }}">{{ post.date | date: "%b %d, %Y" }}</time> &mdash;
        {% include read_time_estimate.html content=post.content %}
      </div>
      <hr>
    </section>
    {% endfor %}
  </div>
</article>

