<div id="mc_embed_signup">
  <form action="//clintonvillegreenways.us9.list-manage.com/subscribe/post?u=9fc5642bc0a5d72d83f9d1053&amp;id=2d84453d33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="off">
    </div>
    <div class="mc-field-group">
      <label for="mce-NAME">Name </label>
      <input type="text" value="" name="NAME" class="" id="mce-NAME" autocomplete="off">
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_9fc5642bc0a5d72d83f9d1053_2d84453d33" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>
