.social {
  height:40px;
  padding:10px 0;
    
  > div {
    display:inline-block;
    width: 105px;
        
    // vertically align facebook like button with other sharing icons
    .fb-like, .fb-share-button > span { vertical-align: baseline !important; }
  }
}
