@import "globals.scss";

.home.page-cover {
  background-position:50% -50px;
}

article.home {
  padding: 30px 0;

  header {
    margin-bottom: 4em;
    &:after { content: none; }
  }
  
  .three-wide {
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: -8%;
    margin-right: -8%;

    .cell {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin-left: 1.42%;
      margin-right: 1.42%;
      font-size: 16px;
      img {
        display: block;
        height: 130px;
        margin: 0 auto 2em auto;
      }
      h3 {
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        color: #555;
        margin-bottom: .6em;
      }
    }
  }
  
  .signoff {
    text-align: center;
    margin: 3em 0 3em 0;
    
    img {
      width: 85%;
      max-width: 300px;
      max-height: 188px;    // needed for IE8
    }
    
    .caption {
      color: $textmuted;
      margin-top: .25em;
      font-size: 14px;
    }
  }  
}
