@import "globals.scss";

#mc_embed_signup form {
  width: 450px;
  margin: 0 auto 1.8em auto;

  .mc-field-group {
    margin-bottom: .5em;

    label {
      font-size: .9em;
    }

    input, textarea {
      width: 100%;
      font-size: 16px;
      padding: 8px;
      outline: none;
      border: 1px solid #ccc;
      -webkit-appearance: none;
      border-radius: 0px;

      &:focus {
        border-color: $accent;
        background-color: #FBFBFB;
      };
    }
  }

  input[type=submit] {
    background-color: $accent;
    margin-top: .5em;
    font-size: 16px;
    color: #fff;
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid $accent;
  }
}
