.video_container {
  position: relative;
  padding-bottom: 66.4%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
